			</div>
			<div class="col-md-3">{{{moduleTree}}}</div>
		</div>
		<small class="created-by text-muted">Page built with <a href="https://github.com/bob-gray/api-meta">api-meta</a></small>

		<script src="{{pathPrefix}}/js/prism.js"></script>
	</body>
</html>